body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

section {
    padding: 50px;
    text-align: center;
}

section#about {
    background-color: #f0f0f0;
}

section#skills {
    background-color: #eaf2f8;
}

section#projects {
    background-color: #d4e6f1;
}

section#contact {
    background-color: #3498db;
    color: white;
}
